@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-*: initial;

  --color-white: #FFFFFF;
  --color-green: #10B981;
  --color-blue: #6975DD;

  --color-purple-100: #A241C2;
  --color-purple-200: #7354AE;
  --color-purple-300: #A06DC2;
  --color-purple-400: #8149A7;

  --color-gray-100: #6B7280;
  --color-gray-200: #9CA3AF;
  --color-gray-300: #DCDCDC;
  --color-gray-400: #374151;
  --color-gray-500: #1A1A1A;
  --color-gray-600: #E5E7EB;

  --gradient-main: linear-gradient(90deg, var(--color-purple-300) 0%, var(--color-purple-400) 100%);
  --gradient-follow: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple-200) 100%);

}

body {
  background: var(--gradient-main);
}
